/* Base Styles */
body {
	overflow-x: hidden;
	background: $white;
}

a:link, a:visited {
	text-decoration: underline;
	color: $orange;

	&:hover {
		text-decoration: none;
	}
}

.main-container {
	width: $max-width;
	max-width: 100%;
	padding: 0px 20px;
	margin: 20px auto 0px;
	position: relative;
}

h3 {
	font-size: 2em;
	font-family: $alt-header-font;
	font-weight: 800;
	color: $teal;
	padding-bottom: 25px;
}

h1, h2, h3, h4 {
	text-transform: lowercase !important;
}

p {
	color: $grey;
}