body {
	font-family: $body-font;
	font-size: 1em;
	line-height: 1.2em;
}
p {
	font-size: 1em;
	line-height: 1.2em;
}
h1 {
	font-family: $alt-header-font;
	font-size: 2em;
	line-height: 1.2em;
}
em {
	font-style: italic !important;
}
strong {
	font-weight: 700 !important;
}
.site-main {
	ul {
		list-style-type: initial;
		padding-left: 30px;
		max-width: 800px;
		margin: 20px auto;
		color: $dark-gray;
	}
	ol {
		list-style-type: initial;
		max-width: 800px;
		margin: 20px auto;
		color: $dark-gray;
	}
	blockquote {
		font-family: $alt-header-font;
		font-style: italic;
		border-bottom: 1px solid $light-grey;
		border-top: 1px solid $light-grey;
		max-width: 600px;
		margin: 20px auto;
		color: $dark-gray;
	}
	li {
		margin-bottom: 3px;
	}
	h1 {
		text-align: center;
		color: $teal;
		font-weight: 700;
		max-width: 800px;
		margin: 0px auto 40px;
		display: block;
		font-size: 3em;
	}
}
