body {
	font-family: $body-font;
	font-size: 1em;
	line-height: 1.2em;
}
p {
	font-size: 1em;
	line-height: 1.2em;
}
h1 {
	font-family: $header-font;
	font-size: 2em;
	line-height: 1.2em;
}
em {
	font-style: inherit;
}
strong {
	font-style: bold;
}
.site-main {
	ul {
		list-style-type: initial;
		padding-left: 30px;
	}
	ol {
		list-style-type: initial;
	}
	blockquote {
		margin-left: 30px;
		font-family: $alt-header-font;
		font-style: italic;
		border-bottom: 1px solid $light-grey;
		border-top: 1px solid $light-grey;
	}
	h1 {
		text-align: center;
	}
}