.main-site .wp-block-button {
	text-align: center;
	margin: 0px auto;
}
.is-style-Two-Tone {
	a {
		border-radius: 0px;
		padding: 15px 25px 15px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1em;
	}
	a:link, a:visited{
		color: $white;
	}
	position: relative;
	.has-purple-background-color {
		box-shadow: 6px 6px $lime;
		&:hover {
			box-shadow: 6px 6px $teal;
			background-color: $lime;
			transition: .4s all;
		}
	}
	.has-lime-background-color {
		box-shadow: 6px 6px $teal;
		&:link, &:visited {
			color: $teal;
		}
		&:hover {
			box-shadow: 6px 6px $lime;
			background-color: $teal;
			transition: .4s all;
			color: $white !important;
		}
	}
}

// PENDING dupe css from above - could be a mix-in
.gform_button.button {
	border-radius: 0px;
	padding: 15px 25px 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
	box-shadow: 6px 6px $lime;
    background-color: rgba(106, 59, 93, 0.9);
	color: $white;
	border: 0;
	
	&:hover {
		background-color: $lime;
		transition: .4s all;
		box-shadow: 6px 6px $purple;
	}
}

// PENDING maybe not the best home?
.gfield-choice-input {
	-webkit-appearance: checkbox;
    width: 20px;
    height: 20px;
}