.btn {
	font-family: $header-font;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	border: none;
	&:hover, &:visited {
		transform: scale(1.01);
		transition: .2s all;
		text-decoration: none;
	}
	&:active, &:focus{
		transition: .2s all;
	}
	&--teal {
		background-color: $teal;
		&:hover, &:visited {
			box-shadow: 2px 2px 3px rgba($shadow, .20);
			background-color: $light-teal;
		}
	}
	&--purple {
		background-color: $purple;
		color: $blue;
		&:hover, &:visited {
			box-shadow: 2px 2px 3px rgba($shadow, .20);
			background-color: $light-purple;
		}
	}
}
.covid-banner__btn:link, .covid-banner__btn:visited {
	display: inline-block;
	color: $white;
	padding: 5px 28px;
	font-weight: 700;
}
.nav-bar__btn:link, .nav-bar__btn:visited{
	display: inline-block;
	border: none;
	padding: 20px 20px 20px 20px;
	color: $blue;
	font-weight: 700;
	
	&:hover {
		background-color: darken($purple, 5%);
	}
}
.main-site .wp-block-button {
	text-align: center;
	margin: 0px auto;
}
.is-style-Two-Tone {
	a {
		border-radius: 0px;
		padding: 15px 25px 15px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1em;
	}
	a:link, a:visited{
		color: $white;
	}
	position: relative;
	.has-purple-background-color {
		box-shadow: 6px 6px $lime;
		&:hover {
			box-shadow: 0px 0px $teal;
			background-color: $lime;
			transition: .4s all;
		}
	}
	.has-lime-background-color {
		box-shadow: 6px 6px $teal;
		&:link, &:visited {
			color: $teal;
		}
		&:hover {
			box-shadow: 0px 0px $teal;
			background-color: $purple;
			transition: .4s all;
		}
	}
	box-shadow: 6px 6px $purple;
}

// PENDING dupe css from above - could be a mix-in
.gform_button.button {
	border-radius: 0px;
	padding: 15px 25px 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
	box-shadow: 6px 6px $lime;
    background-color: rgba(106, 59, 93, 0.9);
	color: $white;
	border: 0;
	
	&:hover {
		background-color: $lime;
		transition: .4s all;
		box-shadow: 6px 6px $purple;
	}
}