.main-site .wp-block-button {
	text-align: center;
	margin: 0px auto;
}
.is-style-Two-Tone {
	min-height: 53px;
	position: relative;
	z-index: 1;
	width: 100%;
	a {
		position: absolute;
		display: inline-block;
		border-radius: 0px;
		padding: 15px 25px 15px;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-size: 1em;
		&::after {
			content: "";
			position: absolute;
			height: 100%;
			width:100%;
			top: 8px;
			left: 8px;
			z-index: -1;
		}
		&:hover, &:focus {
			min-height: 53px;
			transition: .2s all;
			background-color: transparent !important;
			&::after {
				transition: .3s cubic-bezier(.56,.01,.34,1.01),
					.3s left cubic-bezier(.56,.01,.34,1.01),
					.3s height ease,
					.3s width ease;
				top: 4px;
				left: 4px;
				height: calc(100% - 7px);
				width: calc(100% - 7px);
			}
		}
	
	}
	a:link, a:visited{
		color: $white;
	}
	.has-purple-background-color {
		position: relative;
		border: 2px solid $purple;
		&::after {
			background-color: $lime;
		}
	}
	.has-lime-background-color {
		position: relative;
		border: 2px solid $lime;
		&:hover {
			color: $white !important;
		}
		&::after {
			background-color: $purple;
		}
	}
}

// PENDING dupe css from above - could be a mix-in
.gform_button.button {
	border-radius: 0px;
	padding: 15px 25px 15px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 1em;
	box-shadow: 6px 6px $lime;
    background-color: $transparent-purple;
	color: $white;
	border: 0;
	
	&:hover {
		background-color: $lime;
		transition: .4s all;
		box-shadow: 6px 6px $purple;
	}
}

// PENDING maybe not the best home?
.gfield-choice-input {
	-webkit-appearance: checkbox;
    width: 20px;
    height: 20px;
}