.covid-banner {
	background-color: $peach !important;
	color: $white;
	text-align: center;
	min-height: 50px;
	padding: 10px;
	font-size: 14px;
	display: flex;
	justify-content: center;
    align-items: center;
	&__text {
		display: inline-block;
		margin-right: 20px;
		text-transform: uppercase;
		color: $white;
	}
}
@include screen-sm {
	.covid-banner {
		display: none;
	}
}
