.vistor-guide-reuseable-block {
	margin-top: 5.0rem;
	img {
		min-height: 350px;
		object-fit: cover;
	}
}
.footer {
	&__container {
		max-width: 1400px;
		width: 100%;
		margin: 0px auto;
		display: flex;
		justify-content: space-between;
	}
	background-image: url(#{$IMAGES-PATH}footer.png);
	background-size: auto 100%;
	width: 100%;
	overflow: hidden;
	padding: 50px;
	h4 {
		color: $white;
		font-family: $header-font;
		font-size: .9em;
		font-weight: bold;
		text-transform: uppercase;
		height: 50px;
	}
	ul {
		list-style-type: none;
	}
	a:link, a:visited {
		color: $white;
		font-weight: 300;
		font-size: .9em;
	}
	.first-footer-column, .second-footer-column, .third-footer-column, .fourth-footer-column {
		a:link, a:visited {
			display: block;
			padding: 1px 0px;
		}
		a {
			&:not([href*='localhost']):not([href*='willamettevalley.org']):not([href*='platformsh.site']):not([href^='#']):not([href^='/']):after {
				content: url(#{$IMAGES-PATH}/external-link-symbol.png);
				opacity: 0.5;
			}		
		}
	}
	.social-icons {
		img {
			width: 25px;
			height: 25px;

			&:hover {
				opacity: 0.8;
			}
		}
		display: inline-block;
	}
	.fifth-footer-column {
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		padding-bottom: 50px;

		a { text-decoration: none; }
	}
	.gform_wrapper {
		margin-top: 1em;
	}
	label {
		color: $white;
	}
	input {
		background-color: $transparent-white;
		border: none;
		padding: 10px;
		margin: 10px 0px;
		text-transform: uppercase;
		letter-spacing: 3px;
		&::placeholder {
			color: $dark-gray;

		}
	}
	input[type=submit].gform_button.button {
		background: transparent;
		box-shadow: none;
		border: 1px solid $white;
		padding: 5px 30px;
		cursor: pointer;
		&:hover {
			background: $white;
			color: $green;
		}
	}
	.gform_wrapper.gravity-theme .gform_footer {
		margin: .5em 0 1em;
		padding: 0;
	}
	.second-footer-column, .third-footer-column, .fourth-footer-column, .fifth-footer-column {
		max-width: 250px;
		padding: 0px 10px;
	}
	.first-footer-column {
		display: flex;
		align-items: center;
		padding: 0px 30px;
		img {
			width: 270px;
		}
	}
	.second-footer-column, .third-footer-column, .fourth-footer-column {
		width: 33%;
	}
	@include screen-px(1000){
		.footer__container {
			flex-wrap: wrap;
		}
		.first-footer-column {
			width: 100%;
			align-self: center;
			justify-content: center;
			align-items: center;
			margin-bottom: 20px;
		}
		.second-footer-column, .third-footer-column, .fourth-footer-column {
			width: auto;
		}
	}
	@include screen-px(875){
		background-size: 250% auto;
		.footer__container {
			flex-direction: column;
			align-items: center;
		}
		.second-footer-column {
			display: none;
		}
		.third-footer-column, .fourth-footer-column{
			width: 75%;
			margin-bottom: 40px;
			a:link, a:visited {
				font-size: 1.1em;
				padding: 3px 0px;
			}
		}
		.fifth-footer-column  {
			width: 85%;
		}
		h4 {
			font-size: 1.1em;
			height: auto;
			padding-bottom: 10px;
		}

	}
	.menu-item {
		padding: 3px 0px;
 		a {
			text-transform: none;
			text-decoration: none;
		}
	}
}
