.hero {
	background-position:top right;
	background-size: 100% auto;
	background-repeat: no-repeat;
	z-index: -100;
	margin-bottom: 40px;
	position: relative;
	@include screen-px(1300){
		background-size: auto 100%;
	}

}
.page .hero {
	margin-top: -88px;
	height: 400px;
	@include screen-px(800){
		margin-top: -88px;
		background-size: auto 100% ;
	}
	&__container {
		height: 100%;
		position: relative;
		max-width: $max-width;
		margin: 0px auto;
	}
	&__title {
		position: absolute;
		bottom: 20%;
		right: 0;
		transform: translate(-50%, -50%);
		text-align: center;
		margin-top: 100px;
		font-family: $alt-header-font;
		color: $white;
		font-weight: 800;
		font-size: 3.7em;
		padding: 5px 25px;
	}
}
.home .hero {
	background-image: url(#{$IMAGES-PATH}home_wave.svg), url(#{$IMAGES-PATH}home_hero.jpg);
	background-position: bottom left, top center;
	background-repeat: no-repeat, no-repeat;
	margin-top: -305px;
	height: 115vh;
	background-size: 100% 150px, cover;
	@include screen-px(1000){
		background-size: 100% 150px, auto 100%;
		background-position: bottom left, top right 20%;
	}
	@include screen-md {
		background-position: bottom center, top left 50%;
		background-size: 150% 150px, cover;
	}
	@include screen-sm{
		background-position: bottom center, top left 60%;
		background-size: 150% 150px, cover;
	}
	img {
		position: absolute;
		top: 55%;
		left: 10%;
		transform: translateY(-50%);
		height: 250px;
		@include screen-px(1250){
			height: 200px;
			top: 50%;
		}
		filter: drop-shadow( 3px 2px 6px rgba($teal, .3));
		@include screen-px(1000){
			height: 175px;
			top: 50%;
		}
		@include screen-px(800){
			height: 150px;
			top: 55%;
		}
		@include screen-sm {
			display: none;
		}
	} 
}