.hero {
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -100;
	margin-bottom: 40px;
	position: relative;
}
:not(.home) .hero{
	background-position:top center;
	margin-top: -88px;
	height: 400px;
	@include screen-md {
		background-size: cover;
		margin-top: -73px;
	}
	@include screen-px(800){
		margin-top: -88px;
		background-size: cover;
	}
	&__container {
		height: 100%;
		position: relative;
		max-width: $max-width;
		margin: 0px auto;
	}
	&__title {
		position: absolute;
		bottom: 20%;
		right: 10%;
		text-align: center;
		text-transform: lowercase;
		margin-top: 100px;
		font-family: $alt-header-font;
		color: $white;
		font-weight: 800;
		font-size: 3.7em;
		padding: 5px 25px;
		@include screen-px(1300){
			margin-left: 10%;
		}
		@include screen-px(1000){
			font-size: 3.2em;
		}
		@include screen-px(750){
			font-size: 2.8em;
		}
		@include screen-px(600){
			font-size: 2.2em;
		}
	}
}
.home .hero {
	background-image: url(#{$IMAGES-PATH}big_hero.jpg);
	background-position:top left;
	background-repeat: no-repeat;
	margin-top: -185px;
	height: 120vh;
	min-height: 850px;
	position: relative;
	background-size: auto 120%;
	@include screen-px(1474){
		background-size: auto 120%;
		margin-top: -270px;
		background-position: top left;
	}
	@include screen-px (1200){
		background-position: top left 25%;
	}
	@include screen-px(1000){
		margin-top: -200px;
		height: 100vh;
		background-size: auto 120%;
		background-position: top left 20%;
	}
	@include screen-sm{
		background-position: top center;
		background-size: cover;
	}
	img {
		position: absolute;
		top: 45%;
		left: 0%;
		transform: translateY(-50%);
		height: 250px;
		@include screen-px(1250){
			height: 200px;
			top: 50%;
			left: 20%;
		}
		filter: drop-shadow( 3px 2px 6px rgba($teal, .3));
		@include screen-px(1000){
			height: 175px;
			top: 50%;
		}
		@include screen-px(800){
			height: 150px;
			top: 55%;
		}
		@include screen-sm {
			display: none;
		}
	} 
}
.home .hero__sibbling {
	background-image: url(#{$IMAGES-PATH}home_wave.svg);
	@include screen-px (600){
		background-size: 275% 150px !important;
	}
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: 100% 150px;
	margin-top: -180px;
	height: 150px;
	width: 100%;
	@include screen-px(1300){
		background-size: auto 100%;
	}
	@include screen-md {
		background-position: bottom center;
		background-size: 150% 150px;
	}
	@include screen-sm {
		background-position: bottom center;
		background-size: 150% 150px;
	}
}
