.site-main {
	.gform_wrapper{
		width: 800px !important;
		max-width: 90%;
		margin: 0px auto;

		input[type="text"], input[type="email"], input[type="tel"], select {
			background-color: $light-grey;
			border: none;
		}
		
		textarea {
			font-family: $body-font;
		}

		.sweepsCheckbox label {
			padding-left: 1.0rem;
		}
	}
}
.page-search {
	display: flex;
	justify-content: flex-end;
	margin: 0px 10px 50px;
	input {
		display: inline-block;
	}
	input[type="text"]{
		border: none;
		outline: none;
		padding: 8px 10px;
		background-color: $very-light-grey;
		color: $grey;
		width: 250px;
		margin-left: 10px;
		&::placeholder {
			text-transform: uppercase;
			letter-spacing: 2px;
		}
	}
	input[type="image"]{
		transform: translateY(10px);
	}
}