.site-main {
	.gform_wrapper{
		width: 800px !important;
		margin: 0px auto;

		input[type="text"], input[type="email"] {
			background-color: $light-grey;
			border: none;
		}
		textarea {
			font-family: $body-font;
		}
	}
}
