.back-to-top__button {
	position: fixed;
    right: 0px;
    top: 80px;
    z-index: 100000000;
    background-color: $purple;
    border: none;
    outline: none;
    padding: 14px 10px 14px 50px;
    font-size: 1.5em;
    font-family: $alt-header-font;
	color: $blue;
	font-weight: 700;
	background-image: url(#{$IMAGES-PATH}redacorn.svg);
	background-repeat: no-repeat;
	background-position: 15px 15px;
	width: 200px;
	box-shadow: 1px 1px 7px -2px rgba(0, 0, 0, 23%);
	cursor: pointer;
	visibility: hidden;
	pointer-events: none;
	transition: .4s all;
	opacity: 0%;
    &:hover {
		transform-origin: center;
		background-color: $dark-purple;
		transform: scale(1.02) translateY(15px);
		transition: .4s all;
	}
}
.showBtn {
	visibility: visible;
	transition: .4s all;
	pointer-events: all;
	opacity: 100%;
	transform: translateY(15px);
}