.pattern-bg {
	background: url(#{$IMAGES-PATH}/light-pattern.png);
	background-size: 50%;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.wp-admin {
	h1, h2, h3, h4, h5, h6 {
		color: $teal !important;
	}
	.is-style-Highlighted {
		background: $purple !important;
		color: $white !important;
	}
}
p {
	font-family: $body-font;
	color: $grey;
}
.is-style-leaf{
	position: relative;
	&::after {
		background: url(#{$IMAGES-PATH}/leaf.svg) no-repeat;
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 14%;
		background-size: 200px 200px;
		background-position: left 0px bottom -40px;
	}
}
.is-style-acorn{
	position: relative;
	&::after {
		background: url(#{$IMAGES-PATH}/acorn.svg) no-repeat;
		content: "";
		position: absolute;
		bottom: 60px;
		height: 100px;
		width: 100px;
		right: 14%;
		background-position: right 0px bottom 0px;
	}
}
h1.is-style-Highlighted, h2.is-style-Highlighted, h3.is-style-Highlighted, h4.is-style-Highlighted, h5.is-style-Highlighted {
	background: $purple;
	padding: 20px;
	color: $white;
	display: inline-block;
	padding-left: 100px;
}