
.pattern-bg {
	background: url(#{$IMAGES-PATH}/light-pattern.png);
	background-size: 50%;
	padding-top: 50px;
	padding-bottom: 60px;
}
.is-style-Highlighted {
	background: $purple !important;
	color: $white !important;
}
h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
	padding: 10px;
}
p {
	font-family: $body-font;
	color: $grey;
}
.is-style-leaf{
	position: relative;
	&::after {
		background: url(#{$IMAGES-PATH}/leaf.svg) no-repeat;
		content: "";
		position: absolute;
		top: 0;
		width: 200px;
		bottom: 0;
		left: 14%;
		background-size: 200px 200px;
		background-position: left 0px bottom -40px;
	}
}
.is-style-acorn{
	position: relative;
	&::after {
		background: url(#{$IMAGES-PATH}/acorn.svg) no-repeat;
		content: "";
		position: absolute;
		bottom: 60px;
		height: 100px;
		width: 100px;
		right: 14%;
		background-position: right 0px bottom 0px;
		@include screen-px(800){
			display: none;
		}
	}
}
h2.has-background {
	color: $white !important;
}