/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.
FYI: THIS FILE HAS ITS DATA PREPENDED USING SASS-LOADER.
******************************************************************/

// Device Sizes
// =================================================
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// File locations
// =================================================
$theme-prefix: "mm-child-spirit";
$theme-assets-path: "/content/themes/#{$theme-prefix}/public/";
$theme-img-path: $theme-assets-path + "images/";
$IMAGES-PATH: "~/images/";

// All Site Colors
// Helpful tool for naming colors
// https://colornamer.robertcooper.me/
// =================================================