.archive-page {
	width: 1100px;
	margin: 0px auto;
	max-width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	@include screen-px(1100){
		grid-template-columns: 1fr 1fr 1fr;
	}
	@include screen-px(900){
		grid-template-columns: 1fr 1fr;
	}
	@include screen-px(600){
		grid-template-columns: 1fr;
	}
	&__item {
		@include screen-px(1000){
			padding: 0px 10px;
			flex-basis: 25%;
			@include screen-px (600){
				flex-basis: 100%;
			}
		}
		a:hover, a:link, a:visited, a:focus {
			text-decoration: none;
			width:100%;
		}
		a:hover, a:focus {
			transition: .5s all;
			.archive-page__item__image img{
				transform: scale(1.1);
				transition: .5s all ease;
			}
			.archive-page__item__title{
				opacity: .8;
			}
		}
		a {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
		position: relative;
		display: flex !important;
		flex-direction: column;
		flex-grow: 1;
		align-items: center;
		&__date {
			z-index: 1000;
			position: absolute;
			right: 20px;
			top: 0px;
			height: 30px;
			color: $white;
			padding: 5px 10px;
			font-family: $alt-header-font;
			font-weight: 700;
			font-size: 1.25em;
			&.has-teal-background-color {
				background-color: $transparent-teal;
			}	
			&.has-green-background-color {
				background-color: $transparent-green;
			}	
			&.has-lime-background-color {
				background-color: $transparent-lime;
			}	
			&.has-purple-background-color {
				background-color: $very-transparent-purple;
			}	
		}
		&__image {
			overflow: hidden;
			display: flex;
			justify-content: center;
			margin: 5px auto 0px;
			height: 200px;
			width: 247px;
			min-width: 80%;
			@include screen-px(600){
				height:170px;
				width: 170px;
			}
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center center;
				@include screen-px(700){
					min-width: 100%;
					height: auto;
					width: 100%;
				}
			}
		}
		.archive-page__item__title {
			flex-grow: 1;
			align-self: stretch;
			min-height: 74px;
			max-width: 511px;
			width: 100%;
			margin: 0px auto;
			padding: 10px 14px 10px;
			z-index: 1000;
			text-align: center;
			min-width: 210px;
			font-size: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
			@include screen-px (600){
				padding: 10px 10px;
			}
			p {
				font-family: $alt-header-font;
				font-weight:1000;
				font-size: 1.19em;
				line-height: 1.1;
				color: $white;
				text-decoration: none;
			}
		}
	}
}
.navigation_links {
	width: 50%;
	margin: 40px auto;
	padding: 10px 0px 20px 0px;

	.next_link {
		float: right;
	}
	.previous_link {
		float: left;
	}
}
